/ok-interface/Samples/*
/ok-interface/FrontPanel.app/*
/ok-interface/API/*
/observer-python/.idea/*
/.idea/*
*.pyc
ok-interface/ReleaseNotes.txt

ok-interface/ok.py

ok-interface/main.bit

ok-interface/DESTester.py

ok-interface/_ok.so

ok-interface/__version__.py

ok-interface/__init__.py

observer-python/.idea/observer-python.iml

observer-python/.idea/observer-python.iml

observer-python/.idea/observer-python.iml

.DS_Store

*.pptx

*.csv

ok-interface/test.lol

ok-interface/test.pickle

ok-interface/config.h

ok-interface/pycallgraph.png

PyRO Test/NIEB.txt
